/* Top nav */

.top-bar {
	background: transparent;
	box-shadow: none;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-ms-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}

.scrolled {
	background: #fff;
}

/* banner section */

.banner-parallax {
	background-image: url('../img/bg.jpg');
}

a.btn-bordered {
	border: black 1px solid;
	color: black;
}

a.btn-bordered:hover {
	background: black;
	color: white; 
}

.r68-logo {
	max-width: 1500px;
	height: 970px;
	background-image: url('../img/r68_logo_1760x960.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	margin: 100px auto 0 auto;
}

/* Portfolio Section */

#portfolio {
	background-color: #f5f5f5;
}

#portfolio-header {
	margin-top: -40px;
	margin-bottom: 70px;
}

.slider-details {
	height: 150px;
	width: inherit;
}

.slider-details > ul {
	display: inline-block;
	list-style: none;
}

.portfolio-item:hover .portfolio-hover .action-btn  {
	margin-top: -85px;
}

#dunklez {
	background-image: url('../img/projects/dunklez/screenshot_2.png');
	background-position: 50% 5%;
}

#dunklez > img {
	opacity: 0;
}

/* About Section */

.about-section {
	background-color: white;
}

.about-text {
	text-align: left;
}

/* Maps Styling */

.maps-container {
	height: 300px;
	width: 100%;
	background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=4740+Green+River+Rd,+Corona,+CA+92880&zoom=15&markers=color:red%7Clabel:RSixEight%7C33.8770894,-117.6607705&size=600x300&scale=2);
	background-position: 50% 50%;
}

/* Custom Responsive */

@media (max-width: 991px) {
	#services-header {
		margin-bottom: 30px;
	}

	.item-lists {
		margin-top: 40px;
	}
}
