/* Top nav */

.top-bar {
	background: transparent;
	box-shadow: none;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-ms-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}

.scrolled {
	background: #fff;
}

.logo, .retina-logo {
	font-family: 'Ubuntu';
	font-size: 15px;
	/*color: #A4A3A3;*/
	color: #848484;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.nav-logo-accent {
	color: #0090d3;
	font-size: 18px;
}

.logo:hover {
	color: #848484;
}

/* services section */

.service-logo-accent {
	color: #0090d3;
}

/* banner section */

.banner-parallax {
	background-image: url('../img/bg.jpg');
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

a.btn-bordered {
	border: black 1px solid;
	color: black;
}

a.btn-bordered:hover {
	background: black;
	color: white; 
}

.r68-logo {
	max-width: 100%;
	height: 100vh;
	background-image: url('../img/r68_logo_1760x960.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	margin: 10vh auto -10vh auto;
}

/* Portfolio Section */

#portfolio {
	background-image: url('../img/bg.jpg');
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

#portfolio-header {
	margin-top: -40px;
	margin-bottom: 70px;
}

.slider-details {
	height: 150px;
	width: inherit;
}

.slider-details > ul {
	display: inline-block;
	list-style: none;
}

.portfolio-item:hover .portfolio-hover .action-btn  {
	margin-top: -85px;
}

.portfolio-item:hover .portfolio-hover .portfolio-description {
	bottom: 50%;
    margin-bottom: -155px;
}

.dogwood-logo-container {
	max-width: 1000px;
	max-height: 700px;
	background-color: red;
}

/* Client Section */

.clients-list img {
	height: auto;
	width: 100%;
}

#clients {
	background-color: #f5f5f5;
}

/* About Section */

#about .header-section {
	margin-bottom: 40px;
}

.about-section {
	background-color: white;
}

.about-text {
	text-align: left;
	margin-bottom: 25px;
}

.img-mid {
	background-image: url('../img/about_image.jpg');
	background-size: cover;
	background-position: 50% 80%;
	height: 500px;
	width: 500px;
	overflow: hidden;
}

/* Maps Styling */

.maps-container {
	height: 350px;
	width: 100%;
	position: relative;
	padding-top: 50px;
}

/*.maps-container {
	height: auto;
	width: 100%;
}

.maps-overlay {
	height: 400px;
	width: 100%;
	position: relative;
	padding-top: 50px;
	pointer-events: none;
}*/

/* Contact Us */

address > ul {
	list-style: none;
}

address > ul > li {
	margin-bottom: 10px;
}

address > ul > li:nth-child(1) > h5 {
	margin-top: 0px;
}

/* Footer */

.footer {
	height: 300px;
	padding-top: 0;
}

.footer-logo {
	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 40px;
}

.footer-logo-accent {
	color: #0090d3;
	font-size: 50px;
}

.footer-address {
	margin-bottom: 25px;
}

.footer-address p {
	line-height: 13px;
	text-transform: uppercase;
}

.footer-address p > a {
	color: #808080;
}

.footer-address p > a:hover {
	color: #808080;
}

#privacy-policy-modal {
	height: 70vh;
	overflow: scroll;
}

/* Custom Responsive */

@media (max-width: 991px) {

	address > ul {
		padding-left: 0px;
	}

	address > ul li:nth-child(1) {
		display: none;
	}

	.r68-logo {
		margin-top: 20vh;
		margin-bottom: -20vh;
	}
}

@media (max-width: 768px) {
	#about-image {
		height: 262px;
		width: 300px;
	}
	.maps-container {
		height: 300px;
	}
	#services-header {
		font-size: 23px;
	}
	.section-heading:after, .section-heading.light:after {
		display: none;
	}
	.section-heading:before, .section-heading.light:before {
		display: none;
	}
	.footer-logo {
		font-size: 30px;
	}
	.footer-logo-accent {
		font-size: 40px;ß
	}
}
